body {
  font-family: sans-serif;
  background: #f0f0f0;
}

.ui.fluid.container {
  /* Removes margins on responsive design! */
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* HEXAGON CSS */
/* Adapted from https://github.com/Hellenic/react-hexgrid/blob/master/examples/basic-board/src/index.css */

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-drag: element;
  user-drag: element;
}

svg {

}

/* Regular hexes */
svg g.regular {
  fill: #3F51B5;
  fill-opacity: 0.6;
}
svg g.regular:hover {
  fill-opacity: 1;
}
svg g.regular:hover text {
  fill-opacity: 1;
}

svg g.regular polygon {
  stroke: #3F51B5;
  stroke-width: 0.2;
  transition: fill-opacity .2s;
}
svg g.regular text {
  font-size: 0.3em;
  fill: #FFFFFF;
  fill-opacity: 0.4;
  transition: fill-opacity .2s;
}

/* Addable hexes */
svg g.addable {
  fill: #3F51B5;
  fill-opacity: 0;
}
svg g.addable:hover {
  fill-opacity: 0.2;
}
svg g.addable:hover text {
  fill-opacity: 1;
}

svg g.addable polygon {
  stroke: #6776ca;
  stroke-width: 0.2;
  transition: fill-opacity .2s;
}
svg g.addable text {
  font-size: 0.3em;
  fill: #FFFFFF;
  fill-opacity: 0.4;
  transition: fill-opacity .2s;
}
